.rowContainer {
  display: table-row;
  width: 20%;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fff !important;
  text-align: center;
}

.rowContainer:hover {
  background-color: #1e0fa7;
}

.cellContainer {
  display: table-cell;
  text-align: left;
  margin: 0;
  padding: 0 38px 0 0;
  vertical-align: middle;
}
.cellContainer:first-of-type {
  padding: 0 28px 0 0;
  width: 60px;
}

.cellContainer a {
  text-decoration: none;
}
.cellContainer:last-of-type {
  padding: 0 10px 0 0;
  width: 100px;
}

.rowContainer .cellContainer:last-of-type button {
  opacity: 0 !important;
}
.rowContainer:hover .cellContainer:last-of-type button {
  opacity: 0.45 !important;
}
p.nameText {
  display: inline-block;
  margin: 8px 0 8px 5px;
  font-size: 1rem;
}

.dialogTitleRoot {
  padding: 0;
}
